.page {
    width: 100%;
    height: 100%;
}

.sketch-box {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.box {
    height: auto;
    width: auto;
    border: 2px black solid;
}